<div id="trip-scroll" class="trip__container">
    <div class="trip__close" (click)="emitCloseTrip()">
        <span class="material-symbols-outlined">
            arrow_left_alt
        </span>
    </div>
    <div class="trip__limit limit-start">
        <div class="limit-icon-container">
            <span class="limit-icon material-symbols-outlined icon">house</span>
        </div>
        <div class="limit-description">
            <div class="limit-description_text">Trip started</div>
            <div class="limit-description_date">{{startDate}}</div>
            <div id="step-0"></div>
        </div>
    </div>
    <div class="trip__steplist">
        @for (step of trip.steps; track step; let index = $index; let last = $last) {
            <app-step [step]=step></app-step>
            
            @if (!last) {
                <div class="trip-separator">
                    <div class="trip-separator_icon"></div>
                    <div class="trip-separator_text">
                        Traveled for {{parseDuration(trip.steps[index].date, trip.steps[index + 1].date)}}
                    </div>
                    <div id="step-{{index + 1}}"></div>
                </div>
            }
        }
    </div>
    <div class="trip__limit limit-end">
        <div class="limit-icon-container">
            <span class="limit-icon material-symbols-outlined icon">flag</span>
        </div>
        <div class="limit-description">
            <div class="limit-description_text">Trip finished</div>
            <div class="limit-description_date">{{endDate}}</div>
        </div>
    </div>
</div>