<div class="trip">
    <div class="trip-content">
        <div class="trip-title">{{trip.title}}</div>
        <div class="trip-info">
            <div>
                <div class="value">{{tripDates[0]}}</div>
                <div class="description">{{tripDates[1]}}</div>
            </div>
            <div>
                <div class="value">{{tripLength[0]}}</div>
                <div class="description">{{tripLength[1]}}</div>
            </div>
            <div>
                <div class="value">{{trip.steps.length}}</div>
                <div class="description">steps</div>
            </div>
        </div>
    </div>
    <div class="trip-background" style='background-image: url("{{picture}}")'></div>
</div>