<div class="trips">
  @if (!currentTrip) {
  <!-- Display the list of trips  -->
  <div class="trips__container">
      <div class="trips__itemlist">
          @for (trip of trips; track trip) {
              <app-trip [trip]="trip" (click)="openTrip(trip)" (mouseenter)="onMouseEnterTrip(trip)" (mouseleave)="onMouseLeaveTrip()"></app-trip>
          }
          <div class="trips_phantomitem"></div>
      </div>
  </div>
  }
  @else {
  <!-- Display the individual trip -->
      <app-step-container [trip]="currentTrip"
                          [map]="map"
                          (closeEvent)="closeTrip()"></app-step-container>
  }

  <div class="map__container">
      <div class="map__spacer" [class.is-trip-view]="!!currentTrip"></div>
      <div class="map" #mapContainer></div>
  </div>
</div>