<div class="step">
    <div class="step-title">{{step.title}}</div>
    <div class="step-info">
        <span class="fi fi-{{countryFlag}}"></span>
        <span class="separator"></span>
        <span class="step-info__text">{{country}}</span>
        <span class="separator"></span>
        <span class="step-info__text">{{date}}</span>
    </div>
    <div class="step-description">{{step.description}}</div>

    <div class="glide glide-{{position}}">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            @for (picture of pictures; track picture) {
                <li class="glide__slide">
                    <div class="step-picture" style='background-image: url("{{picture}}")'></div>
                </li>
            }
          </ul>
        </div>

        <span class="zoom-icon material-symbols-outlined icon" (click)="openPhoto(step)">pan_zoom</span>
      
        @if (pictures.length > 1) {
            <div class="glide__bullets" data-glide-el="controls[nav]">
                @for (picture of pictures; track picture; let i = $index) {
                    <button class="glide__bullet" [attr.data-glide-dir]="'=' + i"></button>
                }
            </div>
        }
    </div>
</div>